---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Accordion from "@components/site/Accordion.astro";

// This next line is used to set the page title on the site navigation and in the browser tab.
export const pageTitle = "Project 1 Perposal";
---

<Layout compact title={pageTitle}>
  <div class="page-container">
    <header>
      <nav>
        <h2 class="nav-branding">Project Perposal</h2>
        </div>
      </nav>
    </header>
    <section class="section-hero">
      <div class="hero-text-block">
        <h3>What Vehicle Would Animals Drive?</h3>
        <p> <br>An introspective website based around the question we've all been asking: If animals could drive what would they drive?</p>
<br>
        <a href= "https://docs.google.com/document/d/1rd7hYidyuKrh8cFqp7xj84YsX4prJv3YlnBrn_wJCgc/edit?usp=sharing"><h1>Project Perposal</h1></a>

<style>
        h2 {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 500%;
        }
         h3 {
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 300%
        }
        p {
          font-size: 150%
        }
        </style>
        
 <Accordion title="Sick Ass Dog">
     <p>test<p>
    <p> content</p>
    <p> more content</p>
</Accordion>
</Layout>

  
