---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Java Test";
import AgeChecker from "@components/site/AgeChecker.astro";
import ButtonColor from "@components/site/ButtonColor.astro";
---

<Layout title={pageTitle}>
 <AgeChecker birthYear={2015}></AgeChecker>

 <button id="myButton">please work</button>
</Layout>

<script>
    const myButton = document.querySelector("#my-button")

    const myFunction = function () {
        alert("Button was clicked!");
    };
    
    myButton.addEventListener("click", myFunction);
</script>

<script>
    const ButtonColor = document.querySelector("#ButtonColor")

    const myFunction = function () {
        alert("Button was clicked!");
    };
    
    ButtonColor.addEventListener("click", myFunction);
</script>

<style>
    .text-block {
        border: 1px solid white;
        padding: 1rem;
    }
    .large-font {
        font-size: 3rem;
    }}
</style>

<script>
    const myButton = document.querySelector(".my-button");

    const myAction = function () {
        const myTextBlock = document.querySelector (".text-block");
        myTextBlock?.classList.toggle("large-font"); 
    }

    myButton?.addEventListener('click', myAction);
</script>