---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Java Test";
import AgeChecker from "@components/site/AgeChecker.astro";
import ButtonColor from "@components/site/ButtonColor.astro";
---

<Layout title={pageTitle}>
 <AgeChecker birthYear={2015}></AgeChecker>

 <button id="myButton">please work</button>
</Layout>

<script>
    const myButton = document.querySelector("#my-button")

    const myFunction = function () {
        alert("Button was clicked!");
    };
    
    myButton.addEventListener("click", myFunction);
</script>

<script>
    const ButtonColor = document.querySelector("#ButtonColor")

    const myFunction = function () {
        alert("Button was clicked!");
    };
    
    ButtonColor.addEventListener("click", myFunction);
</script>