---
import Layout from "../layouts/Layout.astro";

import {Content as SampleContent} from "../components/markdown/sample-content.md";
---

<Layout title="Home">
  <h1>Welcome!</h1>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
  <SampleContent></SampleContent>

  </Layout>
